<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="../assets/imgs/navbar_logo.png" width="15%" height="15%" alt="" /> &nbsp; Business Elite Plus
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Forums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Download</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Mod Pack
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Mod List</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Change Log</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container d-flex align-items-center h-100">
      <div class="row justify-content-center">
        <h1 class="display-3">Welcome to Business Elite Plus</h1>
        <h4 class="lead" style="padding-bottom:1em;">Come join us on the server!</h4>
        <button class="btn btn-info btn-block " type="button">Play Now!</button>
      </div>
    </div>
  </div>
</div>
<!-- cards of what to do on the server -->
<div class="whattodo">
  <div class="container">
    <div class="row">
      <div class="col mx-auto text-center">
        <img class="icon-img" src="../assets/imgs/diamond.png" alt="Diamond" />
        <h4>Become Rich!</h4>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <button class="btn btn-info" href="#">More Info</button>
      </div>
      <div class="col mx-auto text-center">
          <img class="icon-img" src="../assets/imgs/chest.png" alt="Diamond" />
          <h4>Become Rich!</h4>
          <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
          <button class="btn btn-info" href="#">More Info</button>
        </div>
        <div class="col mx-auto text-center">
            <img class="icon-img" src="../assets/imgs/swords.png" alt="Diamond" />
            <h4>Become Rich!</h4>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            <button class="btn btn-info" href="#">More Info</button>
          </div>
    </div>
  </div>
</div>
<div class="serverstats">
  <div class="container">

  </div>
</div>
<footer class="bg-dark text-white">
  <div class="container-fluid py-3">
    <div class="row justify-content-center">
      <p>Copyright&nbsp;&copy;&nbsp;-&nbsp;Business Elite Plus, Designed by
        <a href="#">Xavidram</a>
      </p>
    </div>
  </div>
</footer>